/* Global Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    font-size: 18px;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

section ul>li {
    margin-bottom: 10px;
    font-size: 18px;
    /* Add margin to create space between groups of bulletins */
}

/* Image Styles */
.image-container {
    display: flex;
    justify-content: left;
    margin-bottom: 25px;
    text-align: left;
    /* Add margin to create space between sections */
}

.image-container img {
    width: 200px;
    /* Set the width of the images */
    height: auto;
    /* Maintain aspect ratio */
    margin: 0 10px;
    /* Add margin to the left and right of the images */
    border: 2px solid #333;
    /* Add a border to the images */
    border-radius: 8px;
}

section figure {
    margin: 0;
    padding: 0;
}

figcaption {
    margin-left: 13px; /* Adjust the margin to move the caption slightly to the right */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
    font-size: 18px;
}